.TableViewPage {
  
  // flex: 1;
  // width: 100%;
  background-color: #000;
  color: #fff;
  .Tables{
    height: 100%;
    display: grid;
    grid-template-rows: 10.4fr 1fr;
    .TableBox{
      padding: 2.4% 3.2% 2.4% 3.2%;
      // width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 1.7%;
      .Table{
        display: grid;
        grid-template-rows: 1fr 2.4fr 1.04fr;
        color: black;
        background-color: white;
        border-radius: 20px;
        overflow: hidden;
        .TableHeader{
          background-color: #525252;
          display: flex;
          color: white;
        }
        .TableButton{
          button{
            background-color: #ff0000;
            border:none;
            color: white;
            font-size: 16px;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;

          }
          display: grid;
          grid-template-columns: 1fr 1.7fr;
          .TableButtonPrice{
            margin: auto;
            margin-right: 20px;
            font-size: 15px;

          }
        }
      }
      .CleanTable{
        background-color: #333333;
        // height: 204px;
        // height: 30.2%;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .PageButton{
      background-color: #333333;
      display: flex;
      justify-content: center;
      align-items: center;
      .Button{
        display: flex;
        button{
          width: 100px;
          height: 20px;
        }
      }
    }
  }
}


