@import '../../../scss/_variables.scss';

.NewOrderPage {
  display: grid;
  grid-template-rows: 4.5% 1fr;
  .config {
    background-color: #444;
    color:white;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2.8fr;
    .OrderRadio{
      margin: auto;
    }
    .SpecificOrder{
      margin: auto;
    }

  }
  .container {
    display: grid;
    grid-template-columns: 1fr 2.8fr;
    .left {
      display: grid;
      grid-template-rows: 10fr 1fr;
      .leftOrders{
        background-color: #000;
        color: black;
        display: grid;
        row-gap: 1.2%;
        grid-template-rows: repeat(4,1fr);
        padding-top: 8px;
        padding-bottom: 8px;
        .NewOrder{
          width: 95.1%;
          border-radius: 20px;
          background-color: white;
          margin: 0 auto;
          overflow: hidden;
          display: grid;
          grid-template-rows: 1fr 1.3fr 1fr;
          font-size: 15px;
          .NewOrderTable{
            color: white;
            background-color: #525252;
            display: flex;
            justify-content: space-between;
            padding: 12px 20px 0 20px;
            height: 34px;
            .NewOrderTableInfo{
              display: flex;
              .NewOrderTableCount{
                margin-left: 11px;
              }
            }
          }
          .NewOrderContent{
            display: flex;
            align-items: center;
            padding-left: 20px;
            border-bottom: solid 1px  #999999;
            font-weight: bold;
            justify-content: space-between;
            .payment{
              font-size: 13px;
              background-color: #ff0000;
              border-radius: 100px;
              width: 44px;
              height: 25px;
              color: white;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-right: 20px;
            }
          }
          .NewOrderPrice{
            // height: 46px;
            display: flex;
            // margin-top: 18%;
            .NewOrderSp{
              flex-grow: 1;
              background-color: #ff0000;
              text-align: start;
              
              font-size: 15px;
              font-weight: bold;
              // padding-left: 18px;
              color: white;
              // padding-top: 12px;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .NewOrderItemPrice{
              flex-grow: 2.4;
              text-align: right;
              margin: auto;
              margin-right: 20px;
            }
          }
        }
      }
      .NoneNew{
        margin:auto;
        text-align: center;
        color: white;
      }
    }
    .OrderPage{
      background-color: #333333;
      display: flex;
      justify-content: center;
      align-items: center;
      .OrderPageButton{
        color: white;
        display: flex;
        .NewOrderPage{
          margin: auto 32px;
          font-size: 16px;
        }
        button{
          background-color: transparent;
          border: none;
          display: flex;
          justify-content: space-between;
          align-items: center;
          img{
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .right {
      flex: 1;
      .rightContent{
        height: 100%;
        display: grid;
        grid-template-rows: 11.8fr 1fr 1.3fr;
        .rightContentSp{
          margin: 0 20px;
          margin-top: 10px;
          .rightContentTable{
            font-size: 17px;
            font-weight: bold;
            padding-bottom: 10px;
            border-bottom: solid 2px rgba(0, 0, 0, 0.6);
            display: flex;
            justify-content: space-between;
            .payment{
              background-color: #ff0000;
              width: 44px;
              height: 25px;
              border-radius: 100px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              font-size: 13px;
            }
          }
          .rightContentTimeButton{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            .rightContentTime{
              font-size: 17px;
              font-weight: bold;
            }
            .rightContentButton{
              padding: 0;
              font-size: 13px;
            }
            button{
              
              background-color: white;
              border: none;
            }
          }
          .NewOrderItems{
            margin-top: 15px;
            border-bottom: solid 2px rgba(0, 0, 0, 0.6);
            .NewOrderItem{
              display: grid;
              grid-template-columns: 2.8fr 1fr;
              font-size: 15px;
              margin-bottom: 13px;
              .NewOrderItemName{
                .noio-con{

                }
                .noio-o-con{
                  display: flex;
                  .noio-o-name{

                  }
                  .noio-n-p{}
                }
                .NewOrderItemNameCheck{
                  display: flex;
                  .checked{
                    width: 15px;
                    height: 15px;
                    background-color: blue;
                    border: solid 1px black;
                    margin-right: 10px;
                  }
                  .none{
                    width: 15px;
                    height: 15px;
                    border: solid 1px black;
                    margin-right: 10px;
                  }
                }
              }
              
              .NewOrderCountPrice{
                display: flex;
                justify-content: space-between;
              }
            }
          }
          .NewOrderSpecificPrice{
            margin-top: 11px;
            display: flex;
            justify-content: space-between;
            font-size: 17px;
          }
        }
        .NewOrderSpecificButton{
          margin: 0 auto;
          // height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          button{
            // height: 100%;
          }
          .deniedOrderButton{
            margin-right: 3.3%;
            border: none;
            border-radius: 60px;
            width: 43.4%;
            font-size: 16px;
            font-weight: bold;
            color: white;
            background-color: #bfbfbf;

          }
          .deniedOrderButton_S{
            margin-right: 3.3%;
            border: none;
            border-radius: 60px;
            width: 43.4%;
            font-size: 16px;
            font-weight: bold;
            color: white;
            background-color: $base-color;
          }
          .checkOrderButton{
            background-color: $base-color;
            border: none;
            border-radius: 60px;
            width: 43.4%;
            color: white;
            font-weight: bold;
            font-size: 16px;
          }
          .checkOrderButton_S{
            background-color:  #bfbfbf;
            border: none;
            border-radius: 60px;
            width: 43.4%;
            color: white;
            font-weight: bold;
            font-size: 16px;
          }
        }
      }
    }
  }
}
