@import 'scss/_variables';

.SideBar {
  background-color: #000000cc;
  display: grid;
  grid-template-rows: 1.3fr 1.3fr 1fr 7.6fr 1.1fr;
  // height: 125vh;
  .btn {
    width: 100%;
    background-color: #ddd;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
  a {
    margin-bottom: 30px;
    color: #fff;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .selected {
    background-color: $base-color;
    color: #fff;
  }
  .menuBtn {
    box-sizing: 'border-box';
    // padding: 20px 0;
  }
  .logout-btn {
    box-sizing: 'border-box';
    // padding: 20px 0;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    border: none;
  }
}
